body
{
    color: black;
    background: #D0A5A5;
}

h1.header
{
    color: #802000;
    text-align: center;
}

h1.header img
{
    max-width: 100%;
}

a
{
    color: #008;
    font-weight: bold;
    text-decoration: underline;
}

a:visited
{
    color: #408;
}

a:hover
{
    color: #C00;
    font-weight: bold;
    text-decoration: none;
}

nav.header
{
    background: #5B0D0D;
    border-style: hidden;
    border-radius: 12px;
    width: 94%;
    max-width: 64em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0px;
    padding-bottom: 0px;
    float: none;
    line-height: 300%;
    text-align: center;
    text-shadow: 2px 2px black;
}

nav.header ul
{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

nav.header li
{
    display: inline;
    list-style: none;
}

nav.header a, nav.header a:hover, nav.header a:visited
{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: hidden;
    border-radius: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

nav.header li.current a, nav.header a:hover
{
    background: #C00;
    box-shadow: 3px 3px black;
}

main
{
    background: #DDD;
    width: 90%;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 4px;
    padding-bottom: 4px;
    overflow: auto;
}

table
{
    border-style: solid;
    border-width: medium;
}

th, td
{
    border-style: solid;
    border-width: thin;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.floating
{
    float: right;
    max-width: 40%;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.example
{
    display: block;
    max-width: 100%;
    max-height: 20em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

.gameslist
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    overflow: auto;
    font-size: x-large;
    text-align: center;
}

.gameslist img
{
    display: block;
    float: left;
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.footer
{
    width: 100%;
    margin-top: 32px;
    text-align: center;
}

@media print
{
    .header, .footer {
        display: none;
    }
    h2, h4 {
        text-align: center;
    }
    h3 {
        text-align: center;
        break-before: page;
    }
    .manual-break {
        break-before: page;
    }
    .no-break {
        break-inside: avoid;
    }
    .no-break-before {
        break-before: auto;
    }
}
